<div class="container">
	<div class="well">
				<div class="box">
					<div class="col-lg-12">
						<hr>
						<h2 class="intro-text text-center">Contact
							<strong>TrascElite</strong>
						</h2>
						<hr>
					</div>
					<div class="col-md-8">
						<!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
						<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d248849.84916296514!2d77.6309395!3d12.9539974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1441472145184"></iframe>
					</div>
					<div class="col-md-4">
						<p>Phone:
							<strong>123.456.7890</strong>
						</p>
						<p>Email:
							<strong><a href="mailto:transcelite@gmail.com">transcelite@gmail.com</a></strong>
						</p>
						<p>Address:
							<strong>Bangalore - 560047
								<br>Karnataka, India</strong>
						</p>
					</div>
					<div class="clearfix"></div>
				</div>
	</div>
</div>
		
