<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		  <tr>
			<th>Product</th>
			<th>Type</th>
			<th>Price (FOB) in USD</th>
			<th>Per Unit</th>
			<th>Minimum Order</th>
			<th>Details</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td >Silk</td>  
			<td>Mulberry</td>
			<td>1200</td>
			<td>Ton</td>
			<td>10 Tons</td>
			<td>30% silk</td>
		  </tr>
		  
		</tbody>
	</table>
</div>
<p><a class="btn btn-lg btn-primary" href="#" role="button">Send Enquiry</a></p>
