<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Vegetables</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Articles</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a href="http://www.jquery2dotnet.com">News</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!-- Fruits -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Fruits</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Articles</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a href="http://www.jquery2dotnet.com">News</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Spices-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Spices</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Articles</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a href="http://www.jquery2dotnet.com">News</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Pulses-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Pulses</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Articles</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a href="http://www.jquery2dotnet.com">News</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Cereals-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Cereals</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Articles</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a href="http://www.jquery2dotnet.com">News</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Fibre crops-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Fibre crops</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Articles</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a href="http://www.jquery2dotnet.com">News</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
				<div ui-view></div>
            </div>
        </div>
    </div>
</div>

	<div class="row">
		
		<div class="col-sm-4 col-md-3 sidebar">
			<div class="mini-submenu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</div>
			<div class="list-group">
				<span href="#" class="list-group-item active">
					Product list
					<span class="pull-right" id="slide-submenu">
						<i class="fa fa-times"></i>
					</span>
				</span>
				<a ui-sref=".vegetables" class="list-group-item">
					<i class="fa fa-comment-o"></i> Vegetables
				</a>
				<a ui-sref=".fruits" class="list-group-item">
					<i class="fa fa-search"></i> Fruits
				</a>
				<a ui-sref=".spices" class="list-group-item">
					<i class="fa fa-user"></i> Spices
				</a>
				<a ui-sref=".pulses" class="list-group-item">
					<i class="fa fa-folder-open-o"></i> Pulses
				</a>
				<a ui-sref=".cereals" class="list-group-item">
					<i class="fa fa-bar-chart-o"></i> Cereals
				</a>
				<a ui-sref=".fibrecrops" class="list-group-item">
					<i class="fa fa-envelope"></i> Fibre crops
				</a>
			</div>    
		</div>
		<div class="col-sm-4 col-md-9 sidebar">
			
		</div>
	</div>

    
