<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Vegetables</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Cabbage</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a ui-sref=".vegetables">Chilli</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a ui-sref=".vegetables">Carrot</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!-- Fruits -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Fruits</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Apple</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a ui-sref=".vegetables"e>Orange</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Spices-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Spices</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Pepper</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a ui-sref=".vegetables">Cardamom</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Pulses-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Pulses</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Beans</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a hui-sref=".vegetables">Grams</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Cereals-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Cereals</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Rice</a>
                                </td>
                             </tr>
                             <tr>
								<td>
									<a ui-sref=".vegetables">Wheat</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
                <!--Fibre crops-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"></span>Fibre crops</a>
                        </h4>
                    </div>
                    <div class="panel-body">
						<table class="table">
							<tr>
								<td>
									<a ui-sref=".vegetables" >Silk yarn</a>
                                </td>
                             </tr>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
				<div ui-view></div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
				<form class="form-horizontal">
				  <div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Email*</label>
					<div class="col-sm-4">
					  <input type="email" class="form-control input-sm" id="emailId" placeholder="Email">
					</div>
				  </div>
				  <div class="form-group">
					<label for="phoneNo" class="col-sm-2 control-label">Phone*</label>
					<div class="col-sm-4">
					  <input type="password" class="form-control input-sm" id="phoneNo" placeholder="Phone Number">
					</div>
				  </div>
				  <div class="form-group">
					<label for="address" class="col-sm-2 control-label">Address*</label>
					<div class="col-sm-4">
					  <input type="password" class="form-control input-sm" id="address" placeholder="Address">
					</div>
				  </div>
				  <div class="form-group">
					<label for="inquiry" class="col-sm-2 control-label">Inquiry</label>
					<div class="col-sm-4">
					  <textarea class="form-control" rows="8" cols="30" id="inquiry" style="resize: none;" data-role="none"></textarea>
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-4">
					  <button type="submit" class="btn btn-primary">Send Enquiry</button>
					</div>
				  </div>
				</form>
			</div>
		</div>
        
    </div>
</div>
