<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		  <tr>
			<th>Product</th>
			<th>Type</th>
			<th>Price (FOB) in USD</th>
			<th>Per Unit</th>
			<th>Minimum Order</th>
			<th>Details</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td rowspan="3">Spices</td>  
			<td>Pepper</td>
			<td>1200</td>
			<td>Ton</td>
			<td>10 Tons</td>
			<td>Produced in company's own farm</td>
		  </tr>
		  <tr> 
			<td>Cardamom</td>
			<td>1200</td>
			<td>Ton</td>
			<td>10 Tons</td>
			<td>Produced in company's own farm</td>
		  </tr>
		</tbody>
	</table>
</div>
