<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		  <tr>
			<th>Product</th>
			<th>Type</th>
			<th>Price (FOB) in USD</th>
			<th>Per Unit</th>
			<th>Minimum Order</th>
			<th>Details</th>
			<th>Samle Image</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td rowspan="3">Rice</td>  
			<td>BPT</td>
			<td>1200</td>
			<td>Ton</td>
			<td>10 Tons</td>
			<td>Produced in company's own farm</td>
		  </tr>
		  <tr> 
			<td>Coarse</td>
			<td>1200</td>
			<td>Ton</td>
			<td>10 Tons</td>
			<td>Produced in company's own farm</td>
		  </tr>
		  <tr> 
			<td>Comman</td>
			<td>1200</td>
			<td>Ton</td>
			<td>10 Tons</td>
			<td>Produced in company's own farm</td>
		  </tr>
		</tbody>
	</table
</div>

<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email*</label>
    <div class="col-sm-4">
      <input type="email" class="form-control input-sm" id="emailId" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="phoneNo" class="col-sm-2 control-label">Phone*</label>
    <div class="col-sm-4">
      <input type="password" class="form-control input-sm" id="phoneNo" placeholder="Phone Number">
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">Address*</label>
    <div class="col-sm-4">
      <input type="password" class="form-control input-sm" id="address" placeholder="Address">
    </div>
  </div>
  <div class="form-group">
    <label for="inquiry" class="col-sm-2 control-label">Inquiry</label>
    <div class="col-sm-4">
      <textarea class="form-control" rows="10" cols="30" id="inquiry" style="resize: none;" data-role="none"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary">Send Enquiry</button>
    </div>
  </div>
</form>
